#ibtn{
    
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border: 1px solid #b1adad;
    padding: 8px; 
    width: 50px;
  height: 40px;  
}
#dbtn{
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border: 1px solid #b1adad;

    padding: 8px; 
    width: 50px;
  height: 40px;  
}
#countlable{
  font-size: x-large;
  border: 1px solid #b1adad;
  margin-top: 0px;
  text-align: center;
  height: 38px;
  width: 48px;
  background-color:  white
  
}

body{
  margin-top: 111px;
  margin-left: 363px;
  display: flex;
}
